<p id="notice"><%= notice %></p>

<h1>Cookers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cookers.each do |cooker| %>
      <tr>
        <td><%= cooker.name %></td>
        <td><%= cooker.address %></td>
        <td><%= cooker.phone %></td>
        <td><%= link_to 'Show', cooker %></td>
        <td><%= link_to 'Edit', edit_cooker_path(cooker) %></td>
        <td><%= link_to 'Destroy', cooker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cooker', new_cooker_path %>
