<header>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <img src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1647007060/diet_fzsfk9.png" alt="">
      <% end %>
    </div>
  </div>
</header>

<!-------------------Profile----------------------------------------------------------------------->
 <div class="container">

  <div class="profile-card__cnt js-profile-cnt">
    <div class="profile-card__name"><%=current_user.name %>'s diet plan made by <strong>Hey Nutri!</strong></div>

    <div class="profile-pdf">
      <div class="name-pdf">
        <p><strong>About you</strong></p>
      </div>
      <hr>
        <div class="age-height">
          <p><strong>Age: <%=current_user.age%> years&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Height: <%=current_user.height%> cm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Weight: <%=current_user.weight%> kgs.</strong></p>
        </div>
        <div class="bmi-bmr">
          <p><strong>BMI: <%=  current_user.bmi.to_d.round(2,:truncate).to_f %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BMR(kcal): <%= current_user.bmr.to_d.round(2,:truncate).to_f%></strong></p>
        </div>
    </div>
  </div>

  <!--------- MONDAY -------------------------------------------------------------------------->

<div class="allrow">
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
        <p><strong>MONDAY</strong></p>
        <hr>
          <p class="snack">Breakfast</p>
          <li>  • <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>  • <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>  • <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[0].each do |meal| %>
            <li>  • <%= meal.protein.name %>, <%= meal.carb.name %> and <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">Dinner</p>
          <% @meals_week[1].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %> and <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- TUESDAY -------------------------------------------------------------------------->
  <div class="card-principal-blue">
    <div class="row">
      <div class="col-4">
        <ul>
        <p><strong>TUESDAY</strong></p>
        <hr>
          <p class="snack">Breakfast</p>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[2].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">Dinner</p>
          <% @meals_week[3].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- WEDNESDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
        <p><strong>WEDNESDAY</strong></p>
        <hr>
          <p class="snack">Breakfast</p>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[4].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">Dinner</p>
          <% @meals_week[5].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- THURSDAY -------------------------------------------------------------------------->
  <div class="card-principal-blue">
    <div class="row">
      <div class="col-4">
        <ul>
        <p><strong>THURSDAY</strong></p>
        <hr>
          <p class="snack">Breakfast</p>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[6].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">Dinner</p>
          <% @meals_week[7].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- FRIDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
        <p><strong>FRIDAY</strong></p>
        <hr>
          <p class="snack">Breakfast</p>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[8].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">Dinner</p>
          <% @meals_week[9].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- SATURDAY-------------------------------------------------------------------------->
  <div class="card-principal-blue">
    <div class="row">
      <div class="col-4">
        <ul>
        <p><strong>SATURDAY</strong></p>
        <hr>
          <p class="snack">Breakfast</p>
         <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
          <li>• <%= @protein_breakfast.sample.name %> and <%= @carbs_breakfast.sample.name %> </li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[10].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">Dinner</p>
          <% @meals_week[11].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
    </div>
  </div>
  </div>
  </div>
</div>
