
<!-------------------Profile----------------------------------------------------------------------->  
 <div class="container">
  <div class="card-product">
    <img src="https://avatars.githubusercontent.com/u/95770046?v=4" alt="Julia" style="width:15%">
  
      <div class="card-product-infos">
        <h2 class="snack"> My profile </h2>
        <p><ul class="fa-ul">
          <li><span class="fa-li"><i class="fa-regular fa-id-card"></i></span> Name: <%= current_user.name %> </li>
          <li><span class="fa-li"><i class="fa-regular fa-calendar"></i></span>Age: <%= current_user.age %> years old</li>
          <li><span class="fa-li"><i class="fa-solid fa-ruler-vertical"></i></span>Your height: <%= current_user.height%> cm </li>
          <li><span class="fa-li"><i class="fa-solid fa-weight-scale"></i></span>Your current weight: <%= current_user.height%> kg</li>
          <li><span class="fa-li"><i class="fa-solid fa-person"></i></span>YOUR BMI is <%=  current_user.bmi.to_d.round(2,:truncate).to_f %></li>
          <li><span class="fa-li"><i class="fa-solid fa-fire"></i></i></span> Your basal metabolism is: <%= current_user.bmr.to_d.round(2,:truncate).to_f%> kcal</li>
        </ul></p>
      </div>
    </div>
  </div>


  <h1 class="subtitle">Hi <%= current_user.name %>! This is your plan: </h1>

  <!--------- MONDAY -------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[0].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[1].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- TUESDAY -------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[2].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[3].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- WEDNESDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[4].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[5].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- TUESDAY -------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[6].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[7].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- THURSDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[8].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[9].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- FRIDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[10].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[11].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- SATURDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[12].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[13].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- SUNDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col">
        <p>Have fun</p>
          <div class="center">
            <img src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1647368616/avocado_gif-url_la3w8w.gif" alt="Have fun!" style="width: 20%;">
        </div>
      </div>

    </div>
  </div>



</div>
