<!-------------------Profile----------------------------------------------------------------------->
 <div class="container">

  <div class="wrapper">

    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <%= cl_image_tag current_user.photo.key %>
      </div>

       <div class="profile-card__cnt js-profile-cnt">
          <div class="profile-card__name"><%=current_user.name %></div>
          <div class="profile-card__txt"><i class="fa-solid fa-calendar"> </i><span><%=current_user.age%> years <span><i class="fa-solid fa-ruler"></i> <%=current_user.height%> cm<span></div>

      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title"><%=  current_user.bmi.to_d.round(2,:truncate).to_f %></div>
          <div class="profile-card-inf__txt">BMI</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title"><%= current_user.bmr.to_d.round(2,:truncate).to_f%></div>
          <div class="profile-card-inf__txt">BMR(kcal)</div>
        </div>
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title"><%=current_user.weight%></div>
          <div class="profile-card-inf__txt"><i class="fa-solid fa-weight-scale"></i> </div>
        </div>


      </div>

    </div>
  </div>
  </div>
  <div class= "welcome">
    <h1>Hi <%= current_user.name %>! This is your plan: </h1>
  </div>

  <!--------- MONDAY -------------------------------------------------------------------------->


  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <% @breakfasts[0].each do |meal| %>
            <li>•<%= meal.protein.name %> and <%= meal.carb.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @lunchs_dinners[0].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @lunchs_dinners[1].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- TUESDAY -------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <% @breakfasts[1].each do |meal| %>
            <li>•<%= meal.protein.name %> and <%= meal.carb.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @lunchs_dinners[2].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @lunchs_dinners[3].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- WEDNESDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <% @breakfasts[2].each do |meal| %>
            <li>•<%= meal.protein.name %> and <%= meal.carb.name %></li>
          <% end %>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @lunchs_dinners[4].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @lunchs_dinners[5].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- THURSDAY -------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <% @breakfasts[3].each do |meal| %>
            <li>•<%= meal.protein.name %> and <%= meal.carb.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @lunchs_dinners[6].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @lunchs_dinners[7].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- FRIDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <% @breakfasts[4].each do |meal| %>
            <li>•<%= meal.protein.name %> and <%= meal.carb.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @lunchs_dinners[8].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @lunchs_dinners[9].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- SATURDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <% @breakfasts[5].each do |meal| %>
            <li>•<%= meal.protein.name %> and <%= meal.carb.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @lunchs_dinners[10].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @lunchs_dinners[11].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- SUNDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col">
        <p>Have fun</p>
          <div class="center">
            <img src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1647368616/avocado_gif-url_la3w8w.gif" alt="Have fun!" style="width: 20%;">
        </div>
      </div>

    </div>
  </div>

  <div class="click-here">
    <p class="text-end">Don't like your weekly meals? <%= link_to "click here", meal_path(current_user), method: :patch, data: { confirm: "Are you sure?", disable_with: "Creating new meals..." }, :class => "btn btn-info" %><i class="fas fa-mouse-pointer"></i></p>
  </div>
</div>