
<div class="container">
  <h1 class="subtitle">Hi <%= current_user.name %>! This is your plan:</h1>

  <!--------- MONDAY -------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[0].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[1].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- TUESDAY -------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[2].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[3].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- WEDNESDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[4].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[5].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- THURSDAY -------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[6].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[7].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- FRIDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[8].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[9].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- SATURDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[10].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[11].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- SUNDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col-4">
        <ul>
          <p class="snack">Breakfast</p>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div class="col-4 border-end border-start">
        <ul>
          <p class="snack">Lunch</p>
          <% @meals_week[12].each do |meal| %>
            <li>•<%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-4">
        <ul>
          <p class="snack">dinner</p>
          <% @meals_week[13].each do |meal| %>
            <li>• <%= meal.protein.name %>, <%= meal.carb.name %>, <%= meal.fibra.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

   <!--------- SUNDAY-------------------------------------------------------------------------->
  <div class="card-principal">
    <div class="row">
      <div class="col">
        <p>Have fun</p>
          <div class="center">
            <img src="https://res.cloudinary.com/duhcsf9d8/image/upload/v1647368616/avocado_gif-url_la3w8w.gif" alt="Have fun!" style="width: 20%;">
        </div>
      </div>

    </div>
  </div>

  <div>
    <p>if you don't like your weekly meals, please</p><%= link_to "click here", meal_path(current_user), method: :patch, data: { confirm: "Are you sure?", disable_with: "Creating new meals..." } %>
  </div>
</div>
